<html>
   <body>

     <center>
        
        <div id = "loginform">
        
            <form method = "post" action = "">
                <p>Se connecter</p>
                <input type = "text" id = "login" placeholder = "Login" name = "uid">
                <input type = "password" id = "password" name = "Mot de passe" placeholder = "Mot de passe">
                <input type = "button" id = "dologin" value = "Connexion">
            </form>

        </div>

     </center>


   </body>
</html>