<!DOCTYPE html>
<html>
	<body>
		<div id="entreprise" class ="contenu">
		<h2>Gestion des entreprises</h2>
			<table border="1px" id="tabEntreprises">
				<tr>
					<th>Entreprise</th>
					<th>Adresse</th>
					<th>Reponsable</th>
					<th>Téléphone</th>
					<th> </th>
				</tr>
				<tr>
					<td>Babar Music</td>
					<td>8 rue du Swegg</td>
					<td>Babar</td>
					<td>012737774838</td>
					<td><input type="button" id="entrepriseGererLicence" value="Gérer Licences"/></td>
				</tr>
				<tr>
					<td>Michax Record</td>
					<td>9 rue de la meche</td>
					<td>benji</td>
					<td>012737774838</td>
					<td><input type="button" id="entrepriseGererLicence" value="Gérer Licences"/></td>
				</tr>
				<tr>
					<td>Pougaxeux Recordeu</td>
					<td>9 rue du Bvb</td>
					<td>Pougaxeux</td>
					<td>012737774838</td>
					<td><input type="button" id="entrepriseGererLicence" value="Gérer Licences"/></td>
				</tr>
			</table>
		</div>
	</body>
</html>