<!DOCTYPE html>
<html ng-app="TicketCertificatApp">
	<head>
	 <meta charset="utf-8"/>
	   <title>TicketCertificat</title>
	   <link href="/css/bootstrap/css/bootstrap-theme.css" rel="stylesheet" Content-Type="text/css" type="text/css"/>
	   <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet" Content-Type="text/css" type="text/css"/>
	   <link href="/css/style.css" rel="stylesheet" Content-Type="text/css" type="text/css"/>
	   <link href="/css/mystyle.css" rel="stylesheet" Content-Type="text/css" type="text/css"/>
	   <link href="/css/style-xlarge.css" rel="stylesheet" Content-Type="text/css" type="text/css"/>
	   <link href="/css/font-awesome.min.css" rel="stylesheet" Content-Type="text/css" type="text/css"/>
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js"></script>
	   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.js"></script>
	   <script src="/js/jquery.min.js" type="text/javascript"></script>
		<script src="/js/script.js" type="text/javascript"></script>
        <script src="/js/angular-route.js" type="text/javascript"></script>
		<!-- Controller -->
		<script src="/js/controller/licences.js" type="text/javascript"></script>
		<script src="/js/controller/connexion.js" type="text/javascript"></script>
        <script src="/js/controller/utilisateurs.js" type="text/javascript"></script>
        <script src="/js/controller/ajouterUtilisateurs.js" type="text/javascript"></script>
        <script src="/js/controller/modifierUtilisateurs.js" type="text/javascript"></script>
        <script src="/js/controller/droitUtilisateurs.js" type="text/javascript"></script>
        <script src="/js/controller/modifierEntreprise.js" type="text/javascript"></script>
        <script src="/js/controller/ajouterEntreprise.js" type="text/javascript"></script>
        <script src="/js/controller/entreprise.js" type="text/javascript"></script>
        <script src="/js/controller/modifierComputer.js" type="text/javascript"></script>
        <script src="/js/controller/ajouterComputer.js" type="text/javascript"></script>
        <script src="/js/controller/computer.js" type="text/javascript"></script>
        <script src="/js/controller/modifierSoftware.js" type="text/javascript"></script>
        <script src="/js/controller/ajouterSoftware.js" type="text/javascript"></script>
        <script src="/js/controller/software.js" type="text/javascript"></script>
        <script src="/js/controller/ajouterLicenses.js" type="text/javascript"></script>
		<!-- Service-->
        <script src="/js/service/userService.js" type="text/javascript"></script>
        <script src="/js/service/connexionService.js" type="text/javascript"></script>
        <script src="/js/service/userRoleService.js" type="text/javascript"></script>
        <script src="/js/service/roleService.js" type="text/javascript"></script>
        <script src="/js/service/licencesService.js" type="text/javascript"></script>
        <script src="/js/service/licencesOwnerService.js" type="text/javascript"></script>
        <script src="/js/service/companyService.js" type="text/javascript"></script>
        <script src="/js/service/computerService.js" type="text/javascript"></script>
        <script src="/js/service/softwareService.js" type="text/javascript"></script>
        <script src="/js/service/TypeLicensesService.js" type="text/javascript"></script>


     </head>
         <body ng-controller="homeCtrl">
             <h1><center>TicketCertificat</center></h1>

             <div id ="menu">
                 <nav>
                     <ul>
                         <li class="active" id="acceuil"><a href="#/accueil">Accueil</a></li>
                         <li ng-show="!authenticated"id="seConnecter"><a href="#/connexion">Se connecter</a></li>
                         <li ng-show="admin" id="entreprise"><a href="#/entreprise">Entreprise</a></li>
                         <li ng-show="admin" id="computer"><a href="#/computer">Postes</a></li>
                         <li ng-show="admin" id="software"><a href="#/software">Logiciels</a></li>
                         <li ng-show="admin" id="licences"><a href="#/licences">Licences</a></li>
                         <li  ng-show="user" id="licence" ng-click="goLicences()"><a > Mes Licences</a></li>
                         <li ng-show="admin" id="utilisateurs"><a href="#/utilisateurs">Utilisateurs</a></li>
                         <li ng-show="authenticated" id="seDeconnecter"><a href="" ng-click="logout()">Se Deconnecter</a></li>
                    </ul>
                </nav>
             </div>
             <div id="connectedAs" ng-show="session.username">
             <label>Connecté en tant que {{session.username}}</label>
             </div>
             <div ng-view>
                 </div>

         </body>
 </html>