<div id="utilisateurs" class="contenu">
    <h2> Gestion des Utilisateurs </h2>
    <div id="formaddUser">
        <h3> Ajouter utilisateur</h3>
        <label >Uid : </label>
        <input type ="text" name="uid" ng-model="newUid"><br>
        <label >Email : </label>
        <input type ="text" name="email" ng-model="newEmail"><br>
        <label >Password : </label>
        <input type ="password" name="password" ng-model="newPassword"><br>
        <input type="button" id="addUser" value="Enregistrer ajout" ng-click="add()">
    </div>
</div>
