<div id="licences" class ="contenu">
<h2>Gestion des licences</h2>

	<label>Selectionner l'entreprise : </label>
	<select  ng-change="doFilterCompany()" ng-options="company as company.name for company in companys track by company.id" ng-model="companySelected">
		<option value="">choisissez une entreprise</option>
	</select><br>
	<label>Ordinateur : </label>
	<input type ="text" name="computer" ng-model="computer" ng-change="doFilterComputer()"><br>
	<!--<input type="button" value="Filtrer" ng-click="filterComputer()">-->
	<table border="1px" id="tabLicences" class="tableau">
		<tr>
			<th>Type</th>
			<th>Date d'expiration</th>
			<th>Computer</th>
			<th>Company</th>
			<th>Software Name</th>
			<th> </th>
		</tr>
		<tr ng-repeat="licence in licences">
			<td>{{licence.license.typeLicense.type}}</td>
			<td>{{licence.dateExpiration}}</td>
			<td>{{licence.computer.name}}</td>
			<td>{{licence.company.name}}</td>
			<td>{{licence.license.software.name}}</td>
			<td><input type="button" id="renouvellerLicence" value="Renouveller"/></td>
		</tr>
	</table>
	<input ng-show="admin" type="button" id="ajouterLicence" value="Ajouter Licence" ng-click="activeAdd()">
</div>
