<div id="utilisateurs" class="contenu">
    <h2> Gestion des Entreprises </h2>
    <div id="formModifierUser">
        <h3> Modifier l'entreprise</h3>
        <label >Name : </label>
        <input type ="text" name="uid" ng-model="company.name" value="company.name"><br>
        <label >Adresse : </label>
        <input type ="text" name="email" ng-model="company.adress" value="company.adress"><br>

        <input type="button" value="Enregistrer modification" ng-click="valModifier()">
    </div>
</div>
