<div id="utilisateurs" class="contenu">
    <h2> Gestion des Utilisateurs </h2>
    <div id="formModifierUser">
        <h3> Modifier l'utilisateur</h3>

        <label >Uid : </label>
        <div id="uidModificationUser">{{user.uid}}</div><br>
        <label >Email : </label>
        <input type ="text" name="email" ng-model="email" value="user.email" id="emailModifUser"><br>
        <label >Entreprise : </label>
        <select ng-options="company as company.name for company in companys track by company.id" ng-model="selected" id="entrepriseUser"></select><br>

        <input type="button" value="Enregistrer modification" ng-click="valModifier()">
    </div>
</div>
