<div id="utilisateurs" class="contenu">
    <h2> Gestion des Utilisateurs </h2>
    <div id="formModifierUser">
        <h3> Modifier l'utilisateur</h3>
        <label >Uid : </label>
        <input type ="text" name="name" ng-model="computer.name" value="computer.name"><br>
        <select ng-options="company as company.name for company in companys track by company.id" ng-model="selected"></select><br>

        <input type="button" value="Enregistrer modification" ng-click="valModifier()">
    </div>
</div>
