<div id="utilisateurs" class="contenu">
    <h2> Modification du poste</h2>
    <div id="formModifierLicences">
        <h3> Ajouter licences</h3>
        <label ng-show="error" style="color: red">erreur veuillez selectionner une date valide</label>
        <label >Date expiration : </label>
        <input type="date" name="bdaytime" ng-model="newDate"><br>
        <label >Entreprise : </label>
        {{licence.company.name}}
        <label >Poste : </label>
        {{licence.computer.name}}
        <label >Type licence : </label>
        {{licence.license.typeLicense.type}}
        <label >Logiciel : </label>
        {{licence.license.software.name}}

        <input type="button" value="Enregistrer modification" ng-click="valModifier()">
    </div>
</div>
