body {
    background-image: url("../images/background.jpg");
    background-size: 100%;
}

h1{
    font-weight: bold;
    color: #c0c0c0;
    font-size: 60px;
}

h2,p{
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 375px;
    background-color: #f1f1f1;
    border-radius: 10px 10px 10px 10px;
}

ul li{
    padding-left:0px;
}
#menu li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 0px;
    text-decoration: none;
    text-align : center;
    font-size: 25px;

}

#formaddUser label{
    display: inline-block;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

li:first-child a:hover{
    border-radius: 10px 10px 0px 0px;
}

#loginform
{
    width:500px;
    height:330px;
    margin-top:100px;
    margin-left:150px;
    background-color:#48737c;
    border-radius:3px;
    box-shadow:0px 0px 10px 0px #424242;
    padding:10px;
    box-sizing:border-box;
    font-family:helvetica;
}
#loginform #close_login
{
    position:absolute;
    top:140px;
    left:735px;
    width:15px;
    height:15px;
}
#loginform p
{
    margin-top:40px;
    font-size:22px;
    color:#E6E6E6;
}
#loginform #login
{
    width:250px;
    height:40px;
    border:2px solid silver;
    border-radius:3px;
    padding:5px;
}
#loginform #password
{
    margin-top:5px;
    width:250px;
    height:40px;
    border:2px solid silver;
    border-radius:3px;
    padding:5px;
    background: #fff;
}
#loginform #dologin
{
    margin-left:-5px;
    margin-top:10px;
    width:250px;
    height:40px;
    border:none;
    border-radius:3px;
    color:#E6E6E6;
    background-color:#6897bb;
    font-size:20px;
    padding-bottom: 55px;
}

li:last-child a:hover{
    border-radius: 0px 0px 10px 10px;
}

#menu {
    float : left;
    margin-top : 45px;
}

.contenu{
    margin-left: 450px;
}

.tableau{
    width: 86%;
}
.tableau  th{
    height: 70px;
    background: #48737c;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.tableau td{
    background: #fff;
    text-align: center;
    padding: 0px;
    height: 50px;
}

.tableau input{
    text-align: center;
    height: 44px;
}

#tabLicences input{
    width: 153px;
    text-align: center;
    padding-right: 132px;
    height: 44px;
}

.tableau td:last-child{
    width: 195px;
}

#tabUtilisateurs td:nth-child(3){
    width: 195px;
    padding: 0;
}

#tabUtilisateurs input#Modifier{
    padding: 0;
}

#tabUtilisateurs input#cbdeleteUser{
    width: 35px;
    margin-left: 81px;
    height: 32px;
}

#tabUtilisateurs  input[type="checkbox"]{
    opacity: 1;
}

#ajoutLicence label{
    display: inline-block;
    color: #fff;
}

#ajoutLicence select{
    background: #fff;
    display: inline-block;
    width: 170px;
    margin-left: 10px;
}
#ajoutLicence #selectComputer{
    margin-left: 20px;
}

#ajoutLicence{
    margin-top: 10px;
}

#connectedAs{
    float: right;
    margin-top: -100px;
    background: #f1f1f1;
    width: 245px;
    border-radius: 3px;#f1f1f1;
    text-align: center;
    margin-right: 10px;
    display:block;
    overflow:auto;
    padding-top: 16px;
}

#formModifierUser label{
    display: inline-block;
    color: black;
}


h3{
    color: black;
}

#formaddUser input[name="uid"]{
    margin-left: 59px;
}


#formaddUser input[name="email"]{
    margin-left: 42px;
}

#formaddUser input[name="password"]{
    height: 32px;
    width: 197px;
    margin-left: 7px;
}

#formModifierUser input[name="uid"]{
    margin-left: 61px;
}


#formModifierUser input[name="email"]{
    margin-left: 45px;
}

#formModifierUser input[name="password"]{
    height: 32px;
    width: 180px;
}

#formaddCompany #addUser{
    margin-top: 30px;
}


#formaddCompany label{
    color: black;
}

#formaddUser #userName{
     margin-left: 80px;
 }

#formaddUser label{
    color: black;
}

#formaddUser #selectEntreprise{
    width: 199px;
}

.tabModifier{
     width: 18%;
 }

.tabCheckBoxSuppr{
    width: 10%;
}

#formModifierUser #uidModifComputer{
    margin-left: 59px;
}

#formModifierUser #selectEntrerpiseModif{
    width: 200px;
}

#tabSoftware{
    width: 68%!important;
}

#tabSoftware .tabModifier{
    width: 22%!important;
}

#formaddSoftware label,#formModifierSoftware label,#licences label{
    color: black;
    display: inline-block;
}

#formaddSoftware #addSoftware,#formModifierSoftware #modifSoftware{
    margin-top: 10px;
}

#licences #selectComputerLicence{
    margin-left: 110px;
    width: 205px;
}

#Licenses #entrepriseAdd{
    margin-left: 40px;
}

#Licenses #computer{
    margin-left: 80px;
}

#Licenses #licenceType{
    margin-left: 25px;
}

#Licenses #software{
    margin-left: 62px;
}
#Licenses select{
    width: 201px;
}

#tabGestionUsersManage {
    width: 48%;
}

#formModifierUser #passUser{
    margin-left: 10px;
    width: 197px;
}

#formModifierUser #entrepriseUser{
    width: 201px;
    margin-left: 2px;
}

#formaddUser #entrepriseUser{
    width: 200px;
}

#licences #selectLicence{
    width: 207px;
}

#formModifierLicences label, #formModifierLicences input[name="bdaytime"]{
    display: inline-block;
    color: black;
}

#formModifierLicences #renouvLicenceEntreprise,#formModifierLicences #renouvLicencePoste,
#formModifierLicences #renouvLicenceTypeL,#formModifierLicences #renouvLicenceLic{
    display: inline-block;
    color: rgb(241, 241, 241);
    font-weight: bold;
}

#formModifierLicences #renouvLicenceEntreprise{
     margin-left: 42px;
 }

#formModifierLicences #renouvLicencePoste{
    margin-left: 80px;
}

#formModifierLicences #renouvLicenceTypeL{
    margin-left: 26px;
}

#formModifierLicences #renouvLicenceLic{
    margin-left: 64px;
}

#formModifierUser input[name="password"]{
    margin-left: 10px;
}

#formModifierUser #uidMofifUser{
    margin-left: 59px;
    display: inline-block;
    color: rgb(241, 241, 241);
    font-weight: bold;
}

#formModifierUser #uidModificationUser{
    display: inline-block;
    margin-left: 59px;
    color: rgb(241, 241, 241);
    font-weight: bold;
}

#formModifierUser #emailModifUser{
    width: 197px;
}

